<div id="corpoPrincipal">
    <div class="container-fluid">
        <div class="card" style="margin-top: 15px;margin-bottom: 15px;">
            <div class="card-block">
                <div class="row justify-content-between">
                    <h3 class="text-justify col-3">Gestão de Avisos</h3>
                    <a class="col-1" onclick="executaAjaxGet('/aviso/adicionarAviso','espacoAviso', function(){}, function(){})"><span
                            class="fa fa-plus fa-2x"></span></a>
                </div>
                <div id="espacoAviso">
                    <div th:if="${mensagem} != null">
                        <h3 th:text="${mensagem}"></h3>
                    </div>
                </div>

                <div class="card" style="margin-top: 15px;margin-bottom: 15px;">
                    <div class="card-block">

                            <table id="tabelaAvisos" class="table display responsive nowrap table-hover" cellspacing="0" width="100%">
                                <thead class="thead-default">
                                <tr>
                                    <th>Imagem</th>
                                    <th>Descrição</th>
                                    <th>Data Expiração</th>
                                    <th>Data Postagem</th>
                                    <th>Data Exibição</th>
                                    <th>Editar</th>
                                    <th>Remover</th>
                                </tr>
                                </thead>
                            </table>

                    </div>
                </div>
                <script>
                    $('table#tabelaAvisos')
                            .DataTable(
                                    {
                                        language : {
                                            'url' : '/static/js/Portuguese.json'
                                        },
                                        ajax : {
                                            'url' : '/aviso/dtAvisos',
                                            'contentType' : 'application/json',
                                            'type' : 'POST',
                                            'data' : function(d) {
                                                return JSON.stringify(d);
                                            }
                                        },
                                        serverSide : true,

                                        columns : [
                                                {
                                                    data : 'foto',
                                                    searchable: false,
                                                    orderable: false,
                                                    render : function (data, type, row) {
                                                        return '<img src="data:image/png;base64, '+row.imagem+'" style="max-width:150px;max-height:150px;width:auto;height:auto;"></img>';
                                                    }
                                                },
                                                {
                                                    data : 'descricao'
                                                },
                                                {
                                                   data : 'dataExpiracao',
									               searchable: false,
                                                   orderable: false,
                                                   render : function(data, type, row) {
										                        if (row.dataExpiracao)
											                        return new Date(row.dataExpiracao).toLocaleString();
										                        else
											                        return 'Não Preenchido';
									                },
									                visible : true
                                                },
                                                {
                                                   data : 'dataPostagem',
									               searchable: false,
                                                   orderable: false,
                                                   render : function(data, type, row) {
										                        if (row.dataPostagem)
											                        return new Date(row.dataPostagem).toLocaleString();
										                        else
											                        return 'Não Preenchido';
									                },
									                visible : true
                                                },
                                                {
                                                   data : 'dataExibicao',
									               searchable: false,
                                                   orderable: false,
                                                   render : function(data, type, row) {
										                        if (row.dataExibicao)
											                        return new Date(row.dataExibicao).toLocaleString();
										                        else
											                        return 'Não Preenchido';
									                },
									                visible : true
                                                },
                                                {
                                                    data : 'editar',
                                                    searchable: false,
                                                    orderable: false,
                                                    render : function (data, type, row) {
                                                        return '<a href="#" onclick = "executaAjaxGet(\'/aviso/editarAviso/'
                                                        + row.idAviso
                                                        + '\',\'espacoAviso\',function(){},function(){})"><span class="fa fa-pencil"> </span></a>';
                                                    }
                                                },
                                                {
                                                    data : 'remover',
                                                    searchable: false,
                                                    orderable: false,
                                                    render : function (data, type, row) {
                                                        return '<a href="#" onclick = "executaAjaxGet(\'/aviso/removerAviso/'
                                                        + row.idAviso
                                                        + '\',\'espacoAviso\',function(){},function(){})"><span class="fa fa-trash"> </span></a>';
                                                    }
                                                }],
                                        "order" : [ [ 0, "desc" ] ]
                                    });
                </script>

            </div>
        </div>
    </div>
</div>
