<div id="menuNavegacao">
    <nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
                data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false"
                aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <a class="navbar-brand" href="/">
            <img src="/static/images/logo_moradas_vazado.png" width="260" height="60" class="d-inline-block align-top"
                 alt=""/>
        </a>

        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown"
                       aria-haspopup="true" aria-expanded="false">
                        Sobre o Condomínio
                    </a>
                    <div class="dropdown-menu inverse" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item inverse"
                           onclick="executaAjaxGet('/historia', 'corpoPrincipal', function(){}, function(){})">História</a>
                        <a class="dropdown-item inverse"
                           onclick="executaAjaxGet('/localizacao', 'corpoPrincipal', function(){}, function(){})">Localização</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown"
                       aria-haspopup="true" aria-expanded="false">
                        Áreas Comuns
                    </a>
                    <div class="dropdown-menu inverse" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item inverse"
                           onclick="executaAjaxGet('/brinquedoteca', 'corpoPrincipal', function(){}, function(){})">Brinquedoteca</a>
                        <a class="dropdown-item inverse"
                           onclick="executaAjaxGet('/playground', 'corpoPrincipal', function(){}, function(){})">Playground</a>
                        <a class="dropdown-item inverse"
                           onclick="executaAjaxGet('/salaDeExercicios', 'corpoPrincipal', function(){}, function(){})">Sala
                            de Exercícios</a>
                        <a class="dropdown-item inverse"
                           onclick="executaAjaxGet('/churrasqueira', 'corpoPrincipal', function(){}, function(){})">Churrasqueira</a>
                        <a class="dropdown-item inverse"
                           onclick="executaAjaxGet('/jardins', 'corpoPrincipal', function(){}, function(){})">Jardins</a>
                        <a class="dropdown-item inverse"
                           onclick="executaAjaxGet('/salaoDeFestas', 'corpoPrincipal', function(){}, function(){})">Salão
                            de Festas</a>
                        <a class="dropdown-item inverse"
                           onclick="executaAjaxGet('/recepcaoSocial', 'corpoPrincipal', function(){}, function(){})">Recepção
                            Social</a>
                    </div>
                </li>

                <li class="nav-item dropdown" sec:authorize="hasAuthority('Morador')">
                    <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown"
                       aria-haspopup="true" aria-expanded="false">
                        Serviços
                    </a>
                    <div class="dropdown-menu inverse" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item inverse"
                           onclick="executaAjaxGet('/reservas', 'corpoPrincipal', function(){}, function(){})">Reservas</a>
                        <a class="dropdown-item inverse"
                           onclick="executaAjaxGet('/documentos', 'corpoPrincipal', function(){}, function(){})">Documentos</a>
                        <a class="dropdown-item inverse"
                           onclick="executaAjaxGet('/votacoesEnquetes', 'corpoPrincipal', function(){}, function(){})">Votações
                            e Enquetes</a>
                        <a class="dropdown-item inverse"
                           onclick="executaAjaxGet('/quadroDeAvisos', 'corpoPrincipal', function(){}, function(){})">Quadro
                            de Avisos</a>
                        <a class="dropdown-item inverse"
                           onclick="executaAjaxGet('/eventos', 'corpoPrincipal', function(){}, function(){})">Eventos</a>
                        <a class="dropdown-item inverse"
                           onclick="executaAjaxGet('/livroDeOcorrencias', 'corpoPrincipal', function(){}, function(){})">Livro
                            de Ocorrências</a>
                        <a class="dropdown-item inverse"
                           onclick="executaAjaxGet('/funcionarios', 'corpoPrincipal', function(){}, function(){})">Funcionários</a>
                        <a class="dropdown-item inverse"
                           onclick="executaAjaxGet('/mensagens', 'corpoPrincipal', function(){}, function(){})">Mensagens</a>
                        <a class="dropdown-item inverse"
                           onclick="executaAjaxGet('/obrasProvidencias', 'corpoPrincipal', function(){}, function(){})">Obras
                            e providências</a>
                        <a class="dropdown-item inverse"
                           onclick="executaAjaxGet('/listaRamais', 'corpoPrincipal', function(){}, function(){})">Lista
                            de Ramais</a>
                        <a class="dropdown-item inverse"
                           onclick="executaAjaxGet('/contratos', 'corpoPrincipal', function(){}, function(){})">Contratos</a>
                        <a class="dropdown-item inverse"
                           onclick="executaAjaxGet('/fornecedores', 'corpoPrincipal', function(){}, function(){})">Fornecedores</a>
                        <a class="dropdown-item inverse"
                           onclick="executaAjaxGet('/calendarioManutencao', 'corpoPrincipal', function(){}, function(){})">Calendário
                            de Manutenção</a>
                        <a class="dropdown-item inverse"
                           onclick="executaAjaxGet('/assembleias', 'corpoPrincipal', function(){}, function(){})">Assembléias</a>
                        <a class="dropdown-item inverse"
                           onclick="executaAjaxGet('/caixaDeSugestoes', 'corpoPrincipal', function(){}, function(){})">Caixa
                            de Sugestões</a>
                    </div>
                </li>

                <li class="nav-item dropdown" sec:authorize="hasAuthority('Administrador')">
                    <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown"
                       aria-haspopup="true" aria-expanded="false">
                        Administração
                    </a>
                    <div class="dropdown-menu inverse" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item inverse"
                           onclick="executaAjaxGet('/unidade/gestaoUnidade', 'corpoPrincipal', function(){}, function(){})">Gestão
                            Unidades</a>
                        <a class="dropdown-item inverse" href="#">Gestão Reservas</a>
                        <a class="dropdown-item inverse" href="#">Gestão Documentos</a>
                        <a class="dropdown-item inverse" href="#">Gestão Votações e Enquetes</a>
                        <a class="dropdown-item inverse" onclick="executaAjaxGet('/aviso/gestaoAvisos', 'corpoPrincipal', function(){}, function(){})">Gestão Quadro de Avisos</a>
                        <a class="dropdown-item inverse" href="#">Gestão Eventos</a>
                        <a class="dropdown-item inverse" href="#">Gestão Livro de Ocorrências</a>
                        <a class="dropdown-item inverse" href="#">Gestão Funcionários</a>
                        <a class="dropdown-item inverse" href="#">Gestão Mensagens</a>
                        <a class="dropdown-item inverse" href="#">Gestão Obras e providências</a>
                        <a class="dropdown-item inverse" href="#">Gestão Lista de Ramais</a>
                        <a class="dropdown-item inverse" href="#">Gestão Contratos</a>
                        <a class="dropdown-item inverse" href="#">Gestão Fornecedores</a>
                        <a class="dropdown-item inverse" href="#">Gestão Calendário de Manutenção</a>
                        <a class="dropdown-item inverse" href="#">Gestão Assembléias</a>
                        <a class="dropdown-item inverse" href="#">Gestão Caixa de Sugestões</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link"
                       onclick="executaAjaxGet('/classificados', 'corpoPrincipal', function(){}, function(){})">Classificados</a>
                </li>

            </ul>
            <ul class="navbar-nav">
                <div sec:authorize="isAuthenticated()">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown"
                           aria-haspopup="true" aria-expanded="false">
                            <span sec:authentication="name">Bob</span>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right inverse" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item inverse" href="#">Sugestões</a>
                            <a class="dropdown-item inverse" onclick="executaAjaxGet('/unidade/visualizarMoradores', 'corpoPrincipal', function(){}, function(){})">Moradores</a>
                            <a class="dropdown-item inverse" onclick="executaAjaxGet('/unidade/trocarSenha', 'corpoPrincipal', function(){}, function(){})">Troca de Senha</a>
                            <a class="dropdown-item inverse" href="/logout"><span class="fa fa-sign-out"
                                                                                  aria-hidden="true"></span> Sair</a>
                        </div>
                    </li>
                </div>
                <div sec:authorize="isAuthenticated() == false">
                    <li class="nav-item">
                        <a class="nav-link" href="#"
                           onclick="executaAjaxGet('/login','modalLogin',function(){},function(){})"><span
                                class="fa fa-sign-in" aria-hidden="true"></span> Entrar</a>
                    </li>
                </div>
            </ul>
        </div>
    </nav>
    <div id="modalLogin"></div>
</div>