<div id="menuNavegacao">
    <nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
                data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false"
                aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <a class="navbar-brand" href="/">
            <img src="/static/images/logo_moradas_vazado.png" width="260" height="60" class="d-inline-block align-top"
                 alt=""/>
        </a>

        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown"
                       aria-haspopup="true" aria-expanded="false">
                        Sobre o Condomínio
                    </a>
                    <div class="dropdown-menu inverse" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item inverse"
                           onclick="executaAjaxGet('/historia', 'corpoPrincipal', '', '')">História</a>
                        <a class="dropdown-item inverse"
                           onclick="executaAjaxGet('/localizacao', 'corpoPrincipal', '', '')">Localização</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown"
                       aria-haspopup="true" aria-expanded="false">
                        Áreas Comuns
                    </a>
                    <div class="dropdown-menu inverse" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item inverse" href="#">Brinquedoteca</a>
                        <a class="dropdown-item inverse" href="#">Playground</a>
                        <a class="dropdown-item inverse" href="#">Sala de Exercícios</a>
                        <a class="dropdown-item inverse" href="#">Churrasqueira</a>
                        <a class="dropdown-item inverse" href="#">Jardins</a>
                        <a class="dropdown-item inverse" href="#">Salão de Festas</a>
                        <a class="dropdown-item inverse" href="#">Recepção Social</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Classificados</a>
                </li>
                <li class="nav-item dropdown" sec:authorize="hasAuthority('Morador')">
                    <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown"
                       aria-haspopup="true" aria-expanded="false">
                        Serviços
                    </a>
                    <div class="dropdown-menu inverse" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item inverse" href="#">Reservas</a>
                        <a class="dropdown-item inverse" href="#">Documentos</a>
                        <a class="dropdown-item inverse" href="#">Votações e Enquetes</a>
                        <a class="dropdown-item inverse" href="#">Quadro de Avisos</a>
                        <a class="dropdown-item inverse" href="#">Eventos</a>
                        <a class="dropdown-item inverse" href="#">Livro de Ocorrências</a>
                        <a class="dropdown-item inverse" href="#">Funcionários</a>
                        <a class="dropdown-item inverse" href="#">Mensagens</a>
                        <a class="dropdown-item inverse" href="#">Obras e providências</a>
                        <a class="dropdown-item inverse" href="#">Lista de Ramais</a>
                        <a class="dropdown-item inverse" href="#">Contratos</a>
                        <a class="dropdown-item inverse" href="#">Fornecedores</a>
                        <a class="dropdown-item inverse" href="#">Calendário de Manutenção</a>
                        <a class="dropdown-item inverse" href="#">Assembléias</a>
                        <a class="dropdown-item inverse" href="#">Caixa de Sugestões</a>
                    </div>
                </li>

                <li class="nav-item dropdown" sec:authorize="hasAuthority('Administrador')">
                    <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown"
                       aria-haspopup="true" aria-expanded="false">
                        Administração
                    </a>
                    <div class="dropdown-menu inverse" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item inverse" href="#">Gestão Unidades</a>
                        <a class="dropdown-item inverse" href="#">Gestão Reservas</a>
                        <a class="dropdown-item inverse" href="#">Gestão Documentos</a>
                        <a class="dropdown-item inverse" href="#">Gestão Votações e Enquetes</a>
                        <a class="dropdown-item inverse" href="#">Gestão Quadro de Avisos</a>
                        <a class="dropdown-item inverse" href="#">Gestão Eventos</a>
                        <a class="dropdown-item inverse" href="#">Gestão Livro de Ocorrências</a>
                        <a class="dropdown-item inverse" href="#">Gestão Funcionários</a>
                        <a class="dropdown-item inverse" href="#">Gestão Mensagens</a>
                        <a class="dropdown-item inverse" href="#">Gestão Obras e providências</a>
                        <a class="dropdown-item inverse" href="#">Gestão Lista de Ramais</a>
                        <a class="dropdown-item inverse" href="#">Gestão Contratos</a>
                        <a class="dropdown-item inverse" href="#">Gestão Fornecedores</a>
                        <a class="dropdown-item inverse" href="#">Gestão Calendário de Manutenção</a>
                        <a class="dropdown-item inverse" href="#">Gestão Assembléias</a>
                        <a class="dropdown-item inverse" href="#">Gestão Caixa de Sugestões</a>
                    </div>
                </li>


            </ul>
            <ul class="navbar-nav">
                <div sec:authorize="isAuthenticated()">
                    <li class="nav-item">
                        <a class="nav-link" href="/logout"><span class="fa fa-sign-out" aria-hidden="true"></span> Sair</a>
                    </li>
                </div>
                <div sec:authorize="isAuthenticated() == false">
                    <li class="nav-item">
                        <a class="nav-link" href="#" onclick="executaAjaxGet('/login','modalLogin','','')"><span
                                class="fa fa-sign-in" aria-hidden="true"></span> Entrar</a>
                    </li>
                </div>
            </ul>
        </div>
    </nav>
    <div id="modalLogin"></div>
</div>