<div id="corpoPrincipal">
    <div class="container-fluid">
        <div class="card" style="margin-top: 15px;margin-bottom: 15px;">
            <div class="card-block">
                <p class="text-justify"><img src="/static/images/torres_condominio.jpg" alt="Vista do Condomínio"
                                             class="img-fluid float-left"
                                             style="margin-right: 10px; max-width: 40%; max-height: 40%;"/> O condomínio
                    teve sua construção iniciada em meados de 1980,
                    sendo finalizada sua contrução em 1981. Foram contruidas quatro
                    torres com projeto inicial de 15 andares, sendo no meio da construção
                    alterado para 16 andares, motivo pelo qual as torres C e D,
                    últimas a serem entregues, possuem 16 andares.</p>
            </div>
        </div>
    </div>
</div>